@model IEnumerable<WebApp.Models.Project>
@{
   ViewBag.Title = "Выбор проекта";
}

<h2>@ViewBag.Title</h2>
<table class="table">
   <tr>
       <th></th>
       <th>Название</th>
       <th>Создан</th>
       <th>Кол-во участников</th>
       <th>Кол-во задач</th>
       <th>Кол-во ролей</th>
   </tr>
   @foreach (var project in Model)
   {
       <tr>
           <td>
               <form asp-action="Select" asp-controller="Project" method="post">
                   <input type="hidden" name="projectId" value="@project.Id" />
                   <button type="submit">Выбрать</button>
               </form>
           </td>
           <td>@project.Title</td>
           <td>@project.DateCreated</td>
           <td>@project.Members.Count</td>
           <td>@project.Objectives.Count</td>
           <td>@project.Roles.Count</td>
       </tr>
   }
</table>

