@using Microsoft.AspNetCore.Identity
@using WebApp.HelperModels
@inject UserManager<User> UserManager

@functions{
    private string NavManage(string controller)
    {
        return ViewContext.RouteData.Values["Controller"]!.ToString() == controller ? "active" : "text-white";
    }
}
@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - To/do</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="d-flex flex-nowrap" style="height: 100vh; overflow: hidden">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100%;">
        <a class="nav nav-link text-white"  asp-controller="Objective" asp-action="Browse">
            <h2 class=""><i class="bi bi-calendar2-check"></i> ToDo Plus</h2>
        </a>
        @if(currentUser != null) {
            <a class="nav-link" asp-controller="Project" asp-action="Select">
                <span class="fs-6">Текущий проект:</span><br/>
                <span class="fs-5">
                    @(currentUser?.SelectedProject != null ? currentUser.SelectedProject.Title : "Не выбран")
                </span>
            </a>
            <a class="nav-link" asp-controller="Member" asp-action="Select">
                <span class="fs-6">Текущий участник:</span><br/>
                <span class="fs-5">
                    @(currentUser?.SelectedMember != null ? currentUser.SelectedMember.Name : "Не выбран")
                </span>
            </a>
        }
        <hr>
        @{
            var navigationItems = new List<NavigationItem>
            {
                new() { Controller = "Project", Action = "Browse", Icon = "collection", Text = "Проекты", Display = currentUser != null },
                new() { Controller = "Objective", Action = "Browse", Icon = "card-checklist", Text = "Задачи", Display = currentUser?.SelectedMember != null },
                new() { Controller = "Member", Action = "Browse", Icon = "people", Text = "Участники", Display = currentUser?.SelectedMember != null, },
                new() { Controller = "Action", Action = "Browse", Icon = "list-columns", Text = "Действия", Display = currentUser?.SelectedMember != null, },
                new() { Controller = "Role", Action = "Browse", Icon = "person-video", Text = "Роли", Display = currentUser?.SelectedMember != null, },
                new() { Controller = "Label", Action = "Browse", Icon = "tags", Text = "Метки", Display = currentUser?.SelectedMember != null, },
                new() { Controller = "Status", Action = "Browse", Icon = "ui-checks-grid", Text = "Статусы", Display = currentUser?.SelectedMember != null, },
                new() { Controller = "User", Action = "Browse", Icon = "people", Text = "Пользователи", Display = currentUser != null && User.IsInRole("Admin"), },
                new() { Controller = "Permission", Action = "Browse", Icon = "list-check", Text = "Список прав", Display = currentUser?.SelectedMember != null && User.IsInRole("Admin") },
            };

            var displayedItems = navigationItems.Where(item => item.Display).ToList();
        }

        <ul class="nav nav-pills flex-column mb-auto">
            @foreach (var item in displayedItems)
            {
                <li class="nav-item">
                    <a class="nav-link @NavManage(item.Controller)" asp-controller="@item.Controller" asp-action="@item.Action">
                        <i class="bi bi-@item.Icon"></i>
                        @item.Text
                    </a>
                </li>
            }
        </ul>
        
        <hr>
        
        <div class="d-flex">
            @if(currentUser != null)
            {
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/img/profile_1.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>@currentUser.UserName</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item disabled" href="#">Новый проект</a></li>
                        <li><a class="dropdown-item disabled" href="#">Настройки</a></li>
                        <li><a class="dropdown-item disabled" href="#">Профиль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="dropdown-item">Выход</button>
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="d-flex">
                    <a class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">Войти</a>
                    <a class="btn btn-warning" asp-controller="Account" asp-action="Register">Зарегестрироваться</a>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid pt-3" style="overflow: auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js" type="text/javascript"></script>
<script>moment.locale('ru');</script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>