@model IEnumerable<WebApp.Models.Objective>
@{
    ViewBag.Title = "Список задач";
}

<h2>Список задач</h2>
@* <p><a asp-action="CreateObjective">Добавить задачу</a></p> *@
<div class="d-md-flex">
    <div class="col">
        <table class="table table-hover">
            <tr>
                <th>Статус</th>
                <th>Задача</th>
                <th>Метки</th>
                <th>Поставленная дата</th>
            </tr>
            @foreach (var o in Model)
            {
                <tr data-taskid="@o.Id" class="task-row">
                    <td>@o.Status.Name</td>
                    <td>@o.Title</td>
                    <td>@string.Join(", ", o.Labels.Select(l => l.Name))</td>
                    <td class="date-moment">@o.DueDate</td>
                </tr>
            }
        </table>
    </div>
    <div class="col px-4">
        <div class="text-center" id="task-info">
            <span class="text-secondary">Нажмите на задачу, чтобы посмотреть её</span>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
$(document).ready(function () {
                $('.date-moment').each(function () { $(this).text((moment($(this).text(),"YYYY-MM-DDTHH:mm:ss")).fromNow()) });
    
                $('.task-row').click(function () {
                    let taskId = $(this).data('taskid');
                    let tr = $(this);
                    $.ajax({
                        url: '/Objective/GetObjectiveInfo',
                        data: { sGuid: taskId },
                        success: function (data) {
                            let taskInfo = $('#task-info');
                            taskInfo.html(data);
                            taskInfo.removeClass("text-center");
                            
                            let dateElement = $('.formatted-date');
                            let originalDate = moment(dateElement.text(), "YYYY-MM-DDTHH:mm:ss");
                            let formattedDate = originalDate.fromNow();
                            dateElement.text(formattedDate);
                            
                            $('.table-active').removeClass('table-active');
                            tr.addClass('table-active');
                    }
                });
            });
        });
    </script>
}